.edit-container {
  margin: 7em 10em;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.category-selector,
.content-box {
  position: relative;
  background-color: #ffffff;
  border: 2px solid rgba(186, 227, 179, 1);
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

.category-selector {
  margin: 1em 0.7em;
  padding: 15px;
  width: 120px;
  text-align: center;
  cursor: pointer;
}

.category-selector span {
  font-weight: bold;
}

.category-dropdown {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid rgba(186, 227, 179, 1);
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.category-dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #ddd;
}

.category-dropdown a:last-child {
  border-bottom: none;
}

.category-dropdown a:hover {
  background-color: #f0f0f0;
}

.content-box {
  margin: 0 auto;
  width: 840px;
  height: 400px;
  background-color: #ffffff;
  border: 2px solid rgba(186, 227, 179, 1);
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
}

.content-box textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container label,
.button-container button {
  margin-right: 10px;
}

.button-container input[type="file"] {
  display: none;
}

.button-container button {
  margin: 1em 2em;
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.upload-btn {
  margin: 1em 1em;
  position: relative;
  background-color: #ffffff;
  border: 2px solid rgba(186, 227, 179, 1);
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

.register-btn {
  margin: 1em 0.7em;
  position: relative;
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(186, 227, 179, 1);
  color: rgba(103, 103, 103, 1);
}

.upload-btn:hover,
.register-btn:hover {
  opacity: 0.8;
}
