body {
  background-color: #f3faed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.delete_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.delete_ask_1 {
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 12px;
}

.delete_ask_2 {
  font-size: 18px;
}

/*box 시작, 다른 페이지 box와 동일 */
.delete_box_all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*box1*/
.delete_box1 {
  width: 140px;
  height: 40px;
  border: solid 2px #c20909;
  border-radius: 10px;
  background-color: #c20909;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_box1_text {
  font-size: 15px;
  color: white;
}

.delete_box1_text a {
  color: white;
  text-decoration: none;
}

.delete_box1_text a:visited {
  color: white;
}

.delete_box1_text a:hover {
  color: white;
}

.delete_box1_text a:active {
  color: white;
}

/*box2*/
.delete_box2 {
  width: 140px;
  height: 40px;
  border: solid 2px black;
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_box2_text {
  font-size: 15px;
  color: black;
}

.delete_box2_text a {
  color: black;
  text-decoration: none;
}

.delete_box2_text a:visited {
  color: black;
}

.delete_box2_text a:hover {
  color: black;
}

.delete_box2_text a:active {
  color: black;
}
