body {
  background-color: #f3faed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.logout_ask {
  font-size: 20px;
  font-weight: bold;

  color: #5a976b;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
}

/*bottom 시작*/
.bottom_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottom_left_box {
  width: 160px;
  height: 50px;
  border: solid 2px #6e9a79;
  border-radius: 10px;
  background-color: #6e9a79;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_left_box_text {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.bottom_left_box_text a {
  color: white;
  text-decoration: none;
}

.bottom_left_box_text a:visited {
  color: white;
}

.bottom_left_box_text a:hover {
  color: white;
}

.bottom_left_box_text a:active {
  color: white;
}

/*여기서부터 bottom_right_box*/
.bottom_right_box {
  width: 160px;
  height: 50px;
  border: solid 2px #bae3b3;
  border-radius: 10px;
  background-color: #bae3b3;
  margin-top: 50px;
  margin-left: 30px; /*오른쪽에서 left로 margin*/

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_right_box_text {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.bottom_right_box_text a {
  color: black;
  text-decoration: none;
}

.bottom_right_box_text a:visited {
  color: black;
}

.bottom_right_box_text a:hover {
  color: black;
}

.bottom_right_box_text a:active {
  color: black;
}
