.logout_text {
  font-size: 20px;
  font-weight: bold;
}
.logout {
  margin-left: 50px;
}

.written_article_text {
  font-size: 25px;
  font-weight: bold;
}

.written_article {
  margin-left: 100px;
  margin-top: 100px;
}

.article_box {
  width: 400px;
  height: 250px;
  border: 0px white;
  background: transparent;
  margin-top: 10px;
  margin-left: 15px;
}

.name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 6px;
}

.date {
  font-size: 20px;
  font-weight: bold;
  color: grey;
  margin-bottom: 10px;
}

.text {
  margin-bottom: 40px;
}

.article_pro_box {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 100px;
}

.bottom_all {
  display: flex;
  margin-top: 120px;
  margin-left: 510px;
}

.bottom_1_and_2 {
  display: flex;
  flex-direction: row;
}

.bottom_1 {
  font-size: 17px;
  font-weight: bold;

  margin-right: 10px;
}

.bottom_2 {
  font-size: 17px;
  font-weight: bold;
}

.article_all {
  display: flex;
  flex-direction: column;
}
