body {
  background-color: #f3faed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.logout_done_all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout_done1 {
  font-size: 20px;
  font-weight: bold;

  color: #5a976b;

  margin-bottom: 30px;
}

.logout_done2 {
  font-size: 17px;
  color: black;
  font-weight: bold;
}

.logout_done2 a {
  color: black;
}

.logout_done2 a:visited {
  color: black;
}

.logout_done2 a:hover {
  color: black;
}

.logout_done2 a:active {
  color: black;
}
